body {
  font-family: sans-serif;
  text-align: center;
}

input {
  font-size: 1em;
  width: 30px;
}

#time {
  font-size: 4em;
  margin: 20px auto;
}

button {
  font-size: 1.5em;
  border-radius: 50%;
  height: 75px;
  width: 75px;
}
